<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4O1bUt6-uoc6hWgAV1abmv260vuVaB5E</string>
	<key>GCM_SENDER_ID</key>
	<string>678216663997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noteboost.app</string>
	<key>PROJECT_ID</key>
	<string>noteboost-59477</string>
	<key>STORAGE_BUCKET</key>
	<string>noteboost-59477.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678216663997:ios:9f9049ccdff9987ccf08d4</string>
</dict>
</plist>